/* General styles */
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0 10px;
}

header h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("Image/pattern.jpeg"); /* use your own background image if needed */
  text-align: center;
  padding: 20px 0;
}

/* Section titles */
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

/* Section colors */
.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

/* Product names */
h3 {
  font-weight: bold;
  text-align: left;
  color: black;

}

/* Price highlight */
.price {
  font-weight: bold;
  color: blue;
}
